<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mainPage.css">
    <link rel="stylesheet" href="../css/rostov.css">
</head>
<body>
<h1>Добро пожаловать на наш сайт!</h1>
<div class="btn-container">
    <button type="submit" style="background-image: url('../images/2.png')" onclick='location.href="login.html"'></button>
    <button type="submit" onclick='location.href="registrationOrganization.html"'>Регистрация организации</button>
    <button type="submit" onclick='location.href="registrationUser.html"'>Регистрация пользователя</button>
</div>
</body>
</html>
