<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Регистрация организации</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/showPassword.js"></script>
    <link rel="stylesheet" href="../css/registrationOrganization.css">
    <link rel="stylesheet" href="../css/rostov.css">
</head>
<body>
 <!--не все поля здесь представлены-->
<div class="container">
    <h2>Регистрация организации</h2>
    <form action="#" th:action="@{/auth/registration}" method="post">
        <div class="form-group">
            <label for="firstName">Имя:</label>
            <input type="firstName" class="form-control" id="firstName" placeholder="Введите имя" required>
        </div>
        <div class="form-group">
            <label for="lastName">Фамилия:</label>
            <input type="lastName" class="form-control" id="lastName" placeholder="Введите фамилию" required>
        </div>
        <div class="form-group">
            <label for="patronymic">Отчество:</label>
            <input type="patronymic" class="form-control" id="patronymic" placeholder="Введите отчество" required>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Номер телефона:</label>
            <input type="phoneNumber" class="form-control" id="phoneNumber" placeholder="Введите номер телефона" required>
        </div>
        <div class="form-group">
            <label for="username">Логин:</label>
            <input type="username" class="form-control" id="username" placeholder="Введите логин" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" class="form-control" id="password" placeholder="Введите пароль" required>
        </div>
        <div class="form-group">
            <label for="email">Электронная почта:</label>
            <input type="email" class="form-control" id="email" placeholder="Введите адрес электронной почты" required>
        </div>
        <div class="form-group">
            <label for="organizationFullName">Полное название организации:</label>
            <input type="organizationFullName" class="form-control" id="organizationFullName"
                   placeholder="Введите полное название организации" required>
        </div>
        <div class="form-group">
            <label for="organizationShortName">Краткое название организации:</label>
            <input type="organizationShortName" class="form-control" id="organizationShortName"
                   placeholder="Введите краткое название организации" required>
        </div>
        <div class="form-group">
            <label for="inn">ИНН:</label>
            <input type="inn" class="form-control" id="inn" placeholder="Введите ИНН" required>
        </div>
        <div class="form-group">
            <label for="kpp">КПП:</label>
            <input type="kpp" class="form-control" id="kpp" placeholder="Введите КПП" required>
        </div>
        <div class="form-group">
            <label for="ogrn">ОГРН:</label>
            <input type="ogrn" class="form-control" id="ogrn" placeholder="Введите ОГРН" required>
        </div>
        <div class="form-group">
            <label for="address">Юридический адрес:</label>
            <input type="address" class="form-control" id="address" placeholder="Введите юридический адрес" required>
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>
</body>
<footer><img src="../images/Logo1_1.png"></footer>
</html>
