body {
    background-color: #0b0b0b;
    color: #77d3c1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Rostov', sans-serif;
}
h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btn-container button {
    background-color: #01a0db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-container button:hover {
    background-color: #02a686;
}
image{
    width: 30%;
    height: 30%;
}